Executable/.idea/
Executable/cmake-build-debug/
Enscript/.idea/
*.iml
Executable/cmake-build-debug-x64/
Executable/cmake-build-debug-x86/
Executable/cmake-build-release-x64/
Executable/cmake-build-release-x86/
